body 
{
    background-color: white;
    font-family: sans-serif;
    color: grey;
    align-content: center;
    position: center;
}

.login-box
{
   
    color: dodgerblue;
    align-content: center;
    box-align: center;
    border-style: groove;
    position: center;
    width: 300px;
    border: 2px solid white;
    padding: 25px;
    margin: 25px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 3px 23px 1px rgba(0,0,0,0.27);
    -moz-box-shadow: 2px 3px 23px 1px rgba(0,0,0,0.27);
    box-shadow: 2px 3px 23px 1px rgba(0,0,0,0.27);
}

.input-gmail
{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.gButton
{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
}

.other-text
{
    color: dodgerblue;
}